<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="utf-8">  <!--"utf-8" Carácteres peseciales-->
	<meta name ="viewport" content="width=device-width, initial-scale= 1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-ede">
	<title>Document</title> <!-- Para comentar -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<h1>Hola, soy el ejericio E</h1>

	<h2>Ejemplo E</h2>
	<div class="rede"></div>
	<div class="bluee"></div>
	<div class="greene"></div>
	<div class="orangee"></div>

</body>
</html>