<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="utf-8">  <!--"utf-8" Carácteres peseciales-->
	<meta name ="viewport" content="width=device-width, initial-scale= 1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-ede">
	<title>Document</title> <!-- Para comentar -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<h1>Hola, soy el ejericio F</h1>

	<h2>Ejemplo F</h2>
	<div class="redf">
		<div class="purplef"></div>
	</div>
	<div class="bluef">
		<div class="purplef"></div>
	</div>
	<div class="greenf">
		<div class="purplef"></div>
	</div>
	<div class="orangef">
		<div class="purplef"></div>
	</div>

</body>
</html>